.Navbar{
    background-color: black !important;
    border-bottom: 6px solid rgb(229, 9, 20);
    /* border-bottom: 6px solid rgb(52, 58, 64); */
}

.itemsNav{
    color: white;
    margin: 8px;
    font-weight: bold;
    font-size: 1.2em;
  }
  
  .itemsNav:hover{
    text-decoration: none;
    color: rgb(229, 9, 20);
  }
  